<h3>Let's connect to Instagram.</h3>

<p>First we authorize the app to connect to your instagram account.</p>
<p>Then we'll save a phone number so we can text you when users post.</p>

<%= link_to "Ok", session_connect_path, class: "btn btn-primary" %>