<div class='page-header'>
	<h1>Let's connect to Instagram.</h1>
</div>

<p class='lead'>
  First we authorize the app to connect to your instagram account.
	Then we'll save a phone number so we can text you when users post.
</p>

<%= link_to 'Ok', connect_path, class: 'btn btn-primary' %>