<h3>Almost done.</h3>

<p>You've never been here before.  Let's grab a phone number so we can 
	text you when someone posts.</p>

<%= form_for @user, html: { class: "form-horizontal" } do |f| %>
  <div class="control-group">
	  <%= f.label :phone, class: "control-label" %>
	  <div class="controls">
		  <%= f.text_field :phone %>
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<%= f.submit "Ok", class: "btn btn-large btn-primary" %>
		</div>
	</div>
<% end %>